body {
    background-color: #D8DFE8;
}

/**HEADER*/

.header {
    display: inline-block;
    width: 70%;
    height: 100px;
}

.logoAlura {
    width: 120px;
    height: 48px;
    margin-left: 40px;
    margin-top: 40px;
}

/**MAIN*/

.main {
    
    width: 70%;
    height: 850px;
    display: inline-block;
    text-align: center;

}

#areaTextoE {

    margin-top: 50px;
    background-color: #D8DFE8;
    width: 60%;
    height: 600px;
    resize: none;
    border: none;

    color: #0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    outline:none;
}


#areaTextoE::placeholder {
    color: #0A3871;
}

/**MAIN-BOTONES*/

#botonE {
    color: white;
    background-color: #0A3871;
    border-radius: 24px;
    width: 25%;
    height: 67px;

    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    margin: 20px;


}

#botonE:hover {
    color: white;;
    background-color: #002757;
    transform: scale(1.005);
}

#botonD {
    color: #0A3871;
    background-color: #D8DFE8;
    border-radius: 24px;
    width: 25%;
    height: 67px;

    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    margin: 20px;
}

#botonD:hover {
    color: #00326e;
    background-color: #c3c9d1;
    transform: scale(1.005);
}

/**MAIN-TEXTO DE AVISO*/

.aviso {
    text-align: left;
    margin-left: 23%;
    font-family: 'Inter';
    font-style: normal;
    font-size: 12px;
    color: #495057;
    opacity: 0.8;
    margin-top: 20px;
}

/**ASIDE*/

.aside {
    position: absolute;
    background-color: #FFFFFF;
    width: 24%;
    height: 850px;
    display: inline-block;
    text-align: center;
    border-radius: 32px;
    margin-top: -50px;
}

#areaTextoD {
    display: none;
    margin: auto;
    margin-top: 50px;
    
    background-color: white;
    width: 70%;
    height: 688px;
    resize: none;
    border: none;

    color: #495057;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    outline:none;
}

#imgMuñeca {

    margin: auto;
    margin-top: 230px;
    width: 80%;

}

#mensajeEspera {
    
    
    margin: auto;
    position: static;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    width: 60%;
}

#mensajePeticion {

    margin: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    width: 60%;

}

/**ASIDE-BOTON*/

#botonC {
    color: #0A3871;
    background-color: white;
    border-radius: 24px;
    width: 72%;
    height: 67px;
    margin: auto;
    margin-top: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    line-height: 19px;
    text-align: center;

    display: none;
}

#botonC:hover {
    color: #00326e;
    background-color: rgb(236, 236, 236);
    transform: scale(1.005);
}

@media screen and (max-width:768px) {

    /**HEADER*/

    .header {
        display: block;
        width: 100%;
        height: 100px;
    }

    .logoAlura {
        width: 120px;
        height: 48px;
        margin-left: 1px;
        margin-top: 50px;
    }

    /**MAIN*/
    .main {

        width: 100%;
        height: 70%;
        display: block;
        text-align: center;
        position: static;

    }

    #areaTextoE {

        margin-top: 50px;
        background-color: #D8DFE8;
        width: 90%;
        height: 400px;
        resize: none;
        border: none;

        color: #0A3871;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;


    }

    .aviso {
        text-align: left;
        margin: auto;
        margin-left: 6%;
        font-family: 'Inter';
        font-style: normal;
        font-size: 15px;
        color: #495057;
        opacity: 0.8;


    }

    /**MAIN-BOTONES*/

    #botonE {
        color: white;
        background-color: #0A3871;
        border-radius: 24px;
        width: 44%;
        height: 67px;


        font-family: 'Inter';
        font-style: normal;
        font-size: 25px;
        line-height: 19px;
        text-align: center;
        margin: 20px 5px 30px 5px;


    }

    #botonD {
        color: #0A3871;
        background-color: #D8DFE8;
        border-radius: 24px;
        width: 44%;
        height: 67px;

        font-family: 'Inter';
        font-style: normal;
        font-size: 25px;
        line-height: 19px;
        text-align: center;
        margin: 20px 5px 30px 5px;
    }

    /**ASIDE*/

    .aside {
        position: static;
        display: block;
        background-color: white;
        width: 90%;
        height: 35%;
        text-align: center;
        border-radius: 32px;
        margin: auto;

    }

    #mensajeEspera {
    
    
        margin: auto;
        position: static;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        color: #343A40;
        width: 80%;
        padding: 10px;
    }
    
    #mensajePeticion {
    
        margin: auto;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #495057;
        width: 80%;
        padding: 10px;
    
    }

    #imgMuñeca{
        display:none;
    }

    #areaTextoD {
        margin-top: 27px;
        background-color: white;
        width: 90%;
        height: 55%;
        resize: none;
        border: none;

        color: #495057;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;


    }

    #botonC {
        color: #0A3871;
        background-color: white;
        border-radius: 24px;
        width: 80%;
        height: 67px;


        font-family: 'Inter';
        font-style: normal;
        font-size: 25px;
        line-height: 19px;
        text-align: center;
    }


}

@media screen and (max-width:375px) {

    /**HEADER*/

    .header {
        display: block;
        width: 100%;
        height: 100px;
    }

    .logoAlura {
        width: 120px;
        height: 48px;
        margin-left: -25px;
        margin-top: 25px;

    }

    /**MAIN*/
    .main {

        width: 100%;
        height: 550px;
        display: block;
        text-align: center;
        position: static;

    }

    #areaTextoE {

        margin-top: 50px;
        background-color: #D8DFE8;
        width: 100%;
        height: 300px;
        resize: none;
        border: none;

        color: #0A3871;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;


    }

    .aviso {
        text-align: left;
        margin: auto;
        margin-left: 6%;
        font-family: 'Inter';
        font-style: normal;
        font-size: 15px;
        color: #495057;
        opacity: 0.8;


    }

    /**MAIN-BOTONES*/

    #botonE {

        color: white;
        background-color: #0A3871;
        border-radius: 24px;
        width: 343px;
        height: 67px;
        display: inline-block;

        margin: 10px 0 0 0;
        font-family: 'Inter';
        font-style: normal;
        font-size: 25px;
        line-height: 19px;
        text-align: center;


    }

    #botonD {
        color: #0A3871;
        background-color: #D8DFE8;
        border-radius: 24px;
        width: 343px;
        height: 67px;
        display: inline-block;

        margin: 10px 0 0 0;
        font-family: 'Inter';
        font-style: normal;
        font-size: 25px;
        line-height: 19px;
        text-align: center;
    }

    /**ASIDE*/

    .aside {
        position: static;
        display: block;
        background-color: white;
        width: 90%;
        height: 35%;
        text-align: center;
        border-radius: 32px;
        margin: auto;

    }

    #mensajeEspera {
    
    
        margin: auto;
        position: static;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        color: #343A40;
        width: 80%;
        padding: 10px;
    }
    
    #mensajePeticion {
    
        margin: auto;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #495057;
        width: 80%;
        padding: 10px;
    
    }

    #imgMuñeca{
        display:none;
    }

    #areaTextoD {
        
        
        background-color: white;
        width: 90%;
        height: 70%;
        resize: none;
        border: none;

        color: #495057;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;


    }

    #botonC {
        color: #0A3871;
        background-color: white;
        border-radius: 24px;
        width: 80%;
        height: 67px;


        font-family: 'Inter';
        font-style: normal;
        font-size: 25px;
        line-height: 19px;
        text-align: center;
    }

}